* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    color: #000000;
    line-height: 1.6;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #333333;
    padding: 1rem 0 1rem 0;    
}

header h1{
    font-size: 1.6rem;
    margin-right: auto;
}

.profile-pic {
    width: 4rem;
    height: 4rem;
    border-radius: 15%;
    margin-left: 1.3rem;
    margin-right: 1rem;
    object-fit: cover;
    object-position: center;
}

nav ul {
    list-style: none;
    display: flex;
    margin-right: 5rem;
    gap: 3rem;
}

nav a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    
}

main span {
    font-size: 1.2rem;
    color: #333333;
}

.welcome-card {
    text-align: center;
    font-size: 100%;
    margin-bottom: 2rem;
    margin: 10rem 0 10rem 0 ;
}

.cards {
    display: flex;
    gap: 2rem;
    width: 90%;
}

.project-card {
    flex: 1;
    background-color: #f4f4f4;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 1rem;
}

.project-list{
    list-style: none;
    padding:.2rem 1.2rem;
}

.work-card {
    flex: 1;
    background-color: #f4f4f4;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 1rem;
}

.work-card p {
    font-size: 0.9rem;
    color: #666666;
    margin-top: -0.5rem;
    margin-left: 5%;
    
}

.work-list{
    list-style: none;
    padding:.2rem 1.2rem;
}

.education-card {
    flex: 1;
    background-color: #f4f4f4;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 1rem;
}

.education-list{
    list-style: none;
    padding:.2rem 1.2rem;
}

.education-list p {
    font-size: 0.9rem;
    color: #666666;
    margin-top: -0.5rem;
    margin-left: 5%;
}
