body{
    background-color: #FFFFFF;
    font-family: 'Times New Roman', Times, serif;
    color: #000000;
}

.header-line{
    width: 100%;
    height: .2rem;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: #333333;
}

.username{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0;
}


.objective{
    font-size: 1rem;
    margin-top: 1rem;
}

.college{
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: .3rem;
}

.education, .education-date{
    font-size: 1rem;
}

hr{
    border: none;
    border-top: 1px solid #333333;
    margin: 1rem 0;
}

p{
    font-size: .7rem;
    padding-left: .9rem;
}

address{
    font-style: normal;
    font-size: 1rem;
    margin-top: 0.5rem;
    padding-bottom: 2rem;
}

h1{
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

h2{
    font-size: 1.3rem;;
}
main{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}